.idea/
.idea_modules/
out/
*.class
__pycache__/
*.py[cod]
*$py.class
build/
dist/
.vscode/
target/
.pytest_cache/
.coverage
coverage.xml
junit/
htmlcov/
test-output.xml
.coverage.*
/cache/
tmpout_*
.venv/
*.egg-info/
*.sarif
utils/AUTHORS
utils/ChangeLog
.mypy_cache/
utils/generate_config_files/config-files/
utils/generate_config_files/*.xlsx
utils/generate_config_files/*.ipynb
utils/feedreg_sql_gen/.idea
utils/feedreg_sql_gen/venv
